html {
	font: 10pt "Adobe Garamond Pro", "Garamond", "Georgia", serif;
	text-align: justify;
}
body {
	counter-reset: h1 h2 h3 h4 table figure;
	max-width: 18cm;
}
header, h1, h2, h3, h4, h5, h6, nav {
	font-family:"Myriad Pro", "Verdana", sans-serif;
	font-weight: normal;
	page-break-after: avoid;
}
header {
	font-size: 18pt;
	padding: 40px 0 40px 0;
	position: relative;
	string-set: title content()
}
code {
	font-family: "Ubuntu Mono", "Lucida Console", Monaco, monospace;
}
p {
	margin: 0;
}
p+p {
	text-indent: 3mm;
}

ol, ul {
	padding: 8pt 0 16pt 12mm;
	margin: 0 0 0 0;
	text-align: left;
}
ol {
	counter-reset: li;
}
li {
	list-style: none;
	position: relative;
}

ol > li:before {
	counter-increment: li;
	content: counter(li) ".";
	position: absolute;
	left: -6mm;
}
ul > li:before {
	content: "•";
	position: absolute;
	left: -6mm;
}
dl {
	padding: 8pt 0 16pt 6mm;
	margin: 0 0 0 0;
	text-align: left;
}
dl > dt {
	font-weight: bold;
}
dl > dt > code {
	font-weight: normal;
}
dl > dd {
  padding: 0 0 0 6mm;
  margin: 0;
}
nav > h1 {
  content: "Table of Contents";
}
nav a {
  text-decoration: none;
  color: black;
}
nav > ol {
  counter-reset: chapter;
  padding: 0 0 0 8mm;
}
nav > li {
  margin: 1mm 0 1mm 0;
}
nav > ol > li > ol {
  padding: 0 0 0 6mm;
}
nav > ol > li:before {
	counter-reset: section;
	counter-increment: chapter;
	content: counter(chapter);
	position: absolute;
	left: -2em;
	text-align: right;
	width: 1.6em;
}
nav > ol > li > ol > li:before {
	counter-increment: section;
	content: counter(chapter) "." counter(section);
	position: absolute;
	left: -3em;
	text-align: right;
	width: 2.6em;
}

table {
	margin: 16pt 0 12pt 0;
	text-align: left;
	page-break-inside:avoid; 
	border-collapse: collapse;
}
table > thead > tr > th {
	font-weight: bold;
	border-bottom: 1px solid black;
	padding: 0px 4px;
	margin: 0;
}
table tr > td,
table tr > th {
	padding: 1px 4px;
	margin: 0;
}
table > caption {
	font-style: italic;
	caption-side:bottom;
	margin:10pt 0 12pt 0;
}
table > caption:before{
	counter-increment: table;
	content: "Table " counter(table) ": ";
}
figure {
	display: block;
	width: 100%;
	height: auto;
	margin: 10mm 0 10mm 0;	
}
figure {
	width: 100%;
	height: auto;
}
figure > img {
	display: block;
	max-height: 300px;
	max-width: 100%;
	margin: 0 auto 0 auto;
}
figure > figcaption {
	font-style: italic;
	caption-side:bottom;
	text-align: center;
	margin: 6pt 0 12pt 0;
}
figure > figcaption:before {
	font-weight: bold;
	counter-increment: figure;
	content: "Figure " counter(figure) ": ";
}