@import url("base.css");
@import url("screen.css") screen;
@import url("document-print.css") print;
*:not(nav) > h1:before {
	counter-increment: h1;
	content: counter(h1);
	float: left;
	width: 13mm;
}
*:not(nav) > h1 {
	counter-reset: h2 h3 h4;
}
h1 {
	font-size: 14pt;
	margin: 46pt 0 28pt 0;
}
h2:before {
	counter-increment: h2;
	content: counter(h1) "." counter(h2);
	float: left;
	width: 13mm;
}
h2 {
	font-size: 12pt;
	margin: 16pt 0 8pt 0;
	counter-reset: h3 h4;
}
h3:before {
	counter-increment: h3;
	content: counter(h1) "." counter(h2) "." counter(h3) " ";
	float: left;
	width: 13mm;
}
h3 {
	font-size: 11pt;
	counter-reset: h4;
}
h4:before {
	counter-increment: h4;
	content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) " ";
	float: left;
	width: 13mm;
}
h4 {
	font-size: 10pt;
}
#abstract:before {
	content: "Abstract\A";
	white-space: pre;
	width: 100%;
	font-family: "Myriad Pro", "Verdana", sans-serif;
	font-size: 14pt;
	display: inline-block;
	text-align: center;
}

table.data {
	font-family: verdana,arial,sans-serif;
	font-size:9px;
	table-layout:fixed;
	width:100%;
}
table.data tr{

}
table.data td{
	border-width: 1px;
	padding: 3px;
}
