@import url("print.css");
@page:first {
	size: A4;
	margin: 75mm 40mm 37mm 50mm;
 	@top-left {
		content: "";
		margin: 0 0 0 0;
	}
	@top {
		content:url("imintLarge.svg");
		vertical-align: bottom;
	}
    @top-right-corner {
		font-family: "Myriad Pro", "Verdana", sans-serif;
		font-weight: normal;
		font-size: 8pt;
		text-align: right;
		vertical-align: top;
		margin: 25mm 10mm 0mm 0mm;
		white-space: pre;
		content: string(identification) "\a" string(date) "\a\a" string(classification);
    }
	@bottom-right-corner {
		content: "";
		margin: 0 0 0 0;
	}
    @bottom-right-corner {
		font-family: "Myriad Pro", "Verdana", sans-serif;
		font-weight: normal;
		font-size: 8pt;
		text-align: center;
        content: counter(page) " of " counter(pages);
    }
}
